.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  'Quicksand', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 4rem;
  text-align: center;
  border-bottom: 10px double #581845;
  width: 50%;
  margin: 3%;
}

